:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #0f0f0f;
    background-color: #f6f6f6;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 1rem;
}

.header-right {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.preview-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
    padding-top: 2rem;

    & div {
        margin: 5px;
        padding: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.preview-image {
    width: 400px;
    height: 200px;
    object-fit: cover;
    border: 8px solid transparent;
    cursor: pointer;
}

#wallpaper-preview-selected {
    border: 8px solid #224da5ff;
}

.wallpaper-preview-active {
    border: 8px solid #229664ff;
}

.settings-container {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings {
    padding: 2rem;
    background-color: #c8c8c8ff;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60%;
    height: 40%;
}

/*
 .settings-close-btn {
 }
*/

.wallpaper-sources-list {
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.wallpaper-source-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input,
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #0f0f0f;
    background-color: #fff;
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgb(0 0 0 / 20%);
    outline: none;
}

button {
    cursor: pointer;
}

button:hover {
    border-color: #396cd8;
}

button:active {
    border-color: #396cd8;
    background-color: #e8e8e8;
}

@media (prefers-color-scheme: dark) {
    :root {
        color: #f6f6f6;
        background-color: #2f2f2f;
    }

    a:hover {
        color: #24c8db;
    }

    input,
    button {
        color: #fff;
        background-color: #0f0f0f98;
    }

    button:active {
        background-color: #0f0f0f69;
    }
}
