:root {
    --bg-dark: hsl(214deg 25 1);
    --bg: hsl(212deg 16 4);
    --bg-light: hsl(212deg 9 9);
    --text: hsl(212deg 47 95);
    --text-muted: hsl(212deg 7 70);
    --text-on-color: var(--bg);
    --highlight: hsl(212deg 5 39);
    --border: hsl(212deg 6 28);
    --border-muted: hsl(212deg 9 18);
    --primary: hsl(211deg 77 72);
    --secondary: hsl(33deg 60 63);
    --info: hsl(217deg 28 65);
    --success: hsl(146deg 17 59);
    --warning: hsl(52deg 19 57);
    --error: hsl(9deg 26 64);

    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--text);
    background-color: var(--bg);

    /* background-color: #2f2f2f; */
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    min-width: 0;
    margin: 0;
}

select {
    appearance: none;
    padding: 6px;
    padding-right: 20px;
    background-color: #0f0f0f69;
    color: var(--text-muted);
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

select:active {
    border-color: var(--primary);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: hsl(212deg 9% 9% / 85%);
    padding: 0.5rem;
}

.header-left {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    select {
        align-self: center;
    }
}

.header-right {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.thumbnails-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
    padding: 1rem;
    align-items: center;
}

.thumbnail {
    position: relative;
}

.thumbnail-favorite {
    position: absolute;
    top: 10px;
    right: 10px;
}

.thumbnail-img {
    width: 400px;
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
    border: 8px solid transparent;
    cursor: pointer;
    transition: border 0.2s ease-in-out;
}

.thumbnail-img:hover {
    border: 8px solid var(--border);
}

#thumbnail-img-selected {
    border: 8px solid #224da5ff;
}

.thumbnail-img-active {
    border: 8px solid #229664ff;
}

.settings-container {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings {
    padding: 2rem;
    background-color: var(--bg-light);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60%;
    height: 60%;
    box-shadow: 0 1rem 40rem rgb(0 0 0 / 100%);
}

.settings-sources-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.settings-close-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    color: var(--text-muted);
}

.wallpaper-sources-list {
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}

.wallpaper-source-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;

    input[type="checkbox"] {
        width: 1rem;
        height: 1rem;
    }

    span {
        color: var(--text-muted);
    }
}

input,
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgb(0 0 0 / 20%);
    outline: none;
    color: #fff;
    background-color: #0f0f0f98;
}

button {
    cursor: pointer;
}

button:hover,
input:hover {
    border-color: var(--primary);
}

button:active,
input:focus {
    border-color: var(--primary);
    background-color: #0f0f0f69;
}
